* {
    margin: 0px;
    font-family: 'Rubik Mono One', sans-serif;
}

nav {
    background-color: #000;
    height: 50px;
}

a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding: 15px;
    display: inline-block;
}
